.input {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    border: 1px solid #EEE;
    box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.input::placeholder {
    color: var(--placeholder-color);
}

@media (max-width: 900px) {
    .input {
        font-size: 16px;
        padding: 16px;
    }
}